<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline';">


<title>{{ data.title }}</title> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="o594YYT8NTm2Pbn7bCbhLQRUvTiZn6o40CBs-1ujPxk" />
  
<link rel="canonical" href="http://gpriyanka.pythonanywhere.com/"/>  
<meta name="description" content="{{ data.description }}" />
<meta name="keywords" content="{{ data.keywords }}" />

<meta property="og:url" content="http://ngandassociates.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="NG and Associates">
<meta property="og:description" content="Online Legal Services for Small Business and Startup in India">
<meta property="og:image" content="http://ngandassociates.com/images/logo.jpg">
<meta property="og:image:alt" content="NG and Associates">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ng_associates">
<meta name="twitter:title" content="Online Legal Services for Small Business and Startup in India">
<meta name="twitter:description" content="Ng and Associates is a Corporate Consultant which service provider of Gst registration , Drug license , ISO certification and many more">
<meta name="twitter:image" content="http://ngandassociates.com/images/logo.jpg">
<meta name="twitter:url" content="https://ngandassociates.com/">

<meta property="og:title" content="Online Private Limited Company Registration in India">
 
<meta property="og:image" content="http://ngandassociates.com/images/logo.jpg">
<meta property="og:url" content="https://ngandassociates.com/">
<meta property="og:type" content="website">
 
 
<link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}"> 
<link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}"> 
<link rel="stylesheet" href="{% static 'plugins/animate-css/animate.css' %}"> 
<link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
<link rel="stylesheet" href="{% static 'plugins/slick/slick-theme.css' %}"> 
<link rel="stylesheet" href="{% static 'plugins/colorbox/colorbox.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="canonical" href="https://ngandassociates.com/" /> 
<link href="{% static 'images/favicon.ico' %}" rel="shortcut icon"/> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/assets/owl.carousel.css">
   

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZXZJ14PSF9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZXZJ14PSF9');
</script>

 

</head>
<body>
<div class="body-inner">

<div id="top-bar" class="top-bar">
        <div class="container">
          <div class="row">
              <div class="col-lg-8 col-md-8">
                <ul class="top-info text-center text-md-left">
                    <li>
                    </li>
                </ul>
              </div> 
              <div class="col-lg-4 col-md-4 top-social text-center text-md-right">
                <ul class="list-unstyled">
                    <li>
                      <a title="Facebook" href="https://www.facebook.com/ngandassociate" target="_blank">
                          <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
                      </a>
                      <a title="Twitter" href="https://twitter.com/ng_associates" target="_blank">
                          <span class="social-icon"><i class="fab fa-twitter"></i></span>
                      </a>
                      <a title="Instagram" href="https://www.instagram.com/ngandassociates/" target="_blank">
                          <span class="social-icon"><i class="fab fa-instagram"></i></span>
                      </a>
					  <a title="Linked in" href="https://www.linkedin.com/company/ngandassociates/" target="_blank">
                          <span class="social-icon"><i class="fab fa-linkedin"></i></span>
                      </a>
					  <a title="Youtube" href="https://www.youtube.com/@ngandAssociates" target="_blank">
                          <span class="social-icon"><i class="fab fa-youtube"></i></span>
                      </a>
                      
                    </li>
                </ul>
              </div> 
          </div> 
        </div> 
    </div>
  

<header id="header" class="header-one">
  <div class="bg-white">
    <div class="container">
      <div class="logo-area">
          <div class="row align-items-center">
            <div class="logo col-lg-3 text-center text-lg-left mb-3 mb-md-5 mb-lg-0">
                <a class="d-block" href="{% url 'home' %}">
                  <img loading="lazy" src="{% static 'images/logo.png' %}" alt="NG-Associates">
                </a>
            </div> 
  
            <div class="col-lg-9 header-right">
                <ul class="top-info-box">
                 <!--<li class="header-get-a-quote">
                     <a class="btn btn-primary" href="https://bit.ly/3tVkkqn" target="_blank">TALK TO EXPERTS</a>
                  </li>-->
                 
                  <li>
                    <div class="info-box">
                      <div class="info-box-content">
                          <p class="info-box-title">Call Us</p>
                          <p class="info-box-subtitle">+917807 40 40 40</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="info-box">
                      <div class="info-box-content">
                          <p class="info-box-title">Email Us</p>
                          <p class="info-box-subtitle"> info@ngandassociates.com</p>
                      </div>
                    </div>
                  </li>
                 
                  <!--<li class="header-get-a-quote">
                    <a class="btn btn-primary" href="https://bit.ly/3tVkkqn" target="_blank">Get A Quote</a>
                  </li>-->
                </ul> 
            </div> 
          </div> 
  
      </div> 
    </div> 
  </div>

  <div class="site-navigation">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div id="navbar-collapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav mr-auto">
                      <li><a href="{% url 'home' %}">Home</a></li>
                      
                      <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Start a Business<b class="caret"></b></a>
	            <ul class="dropdown-menu multi-column columns-3">
		            <div class="row">
			            <div class="col-sm-6">
			            
  <ul class="multi-column-dropdown">
<li><h4>Popular Options</h4></li>
<li><a href="{% url 'private-limited-company-registration' %}">Private Limited Company Registration</a></li>
<li><a href="{% url 'limited-liability-partnership-registration' %}">Limited Liability Partnership Registration</a></li>
<li><a href="{% url 'one-person-company-registration' %}">One Person Company Registration</a></li>
<li><a href="{% url 'partnership-firm-registration' %}">Partnership Firm Registration</a></li>
<li><a href="{% url 'sole-proprietorship-firm-registration-process-advantages-compliance' %}">Sole Proprietarship Firm Registration</a></li>
 </ul>
	</div>
			            <div class="col-sm-6">
				             <ul class="multi-column-dropdown">
<li><h4>Special Business Entities</h4></li>
<li><a href="{% url 'register-an-indian-subsidiary' %}">Register an Indian Subsidiary</a></li>
<li><a href="{% url 'section-8-company-registration-guide' %}">Section 8 Company Registration</a></li>
<li><a href="{% url 'producer-company-registration' %}">Producer Company Registration</a></li>
<li><a href="{% url 'nidhi-company-registration' %}">Nidhi Company Registration</a></li>
 </ul>
			            </div>
			             
		            </div>
	            </ul>
	        </li>
                      
                      
                      
            <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Intellectual Property<b class="caret"></b></a>
	            <ul class="dropdown-menu multi-column columns-3">
		            <div class="row">
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
<li><h4>Trademark</h4></li>
<li><a href="{% url 'trademark-registration-protection' %}">Trademark Registration</a></li> 
<li><a href="{% url 'trademark-objection-reply' %}">Trademark Objection Reply</a></li> 
<li><a href="{% url 'trademark-opposition' %}">Trademark Opposition</a></li>
<li><a href="{% url 'trademark-asignment' %}">Trademark Asignment</a></li>
<li><a href="{% url 'trademark-renewal' %}">Trademark Renewal</a></li>
				            </ul>
			            </div>
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
					           <li><h4>Patent</h4></li>
<li><a href="{% url 'patent-search' %}">Patent Search</a></li>
<li><a href="{% url 'provisional-patent' %}">Provisional Patent</a></li>
<li><a href="{% url 'permanent-patent' %}">Permanent Patent</a></li>
				            </ul>
			            </div>
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
					            <li><h4>Copyright</h4></li>
                                <li><a href="{% url 'copyright-registration' %}">Copyright Registration</a></li>
<li><a href="{% url 'design-registration' %}">Design Registration</a></li> 
				            </ul>
			            </div>
		            </div>
	            </ul>
	        </li>          
                      
                        
              
   <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Changes in Business<b class="caret"></b></a>
	            <ul class="dropdown-menu multi-column columns-3">
		            <div class="row">
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
 
  <li><h4>Select Conversion Type</h4></li>
<li><a href="{% url 'proprietorship-to-partnership' %}">Proprietorship to Partnership</a></li>
<li><a href="{% url 'proprietorship-to-llp' %}">Proprietorship to LLP</a></li>
<li><a href="{% url 'proprietorship-to-private-limited-company' %}">Proprietorship to Private Limited Company</a></li>
<li><a href="{% url 'proprietorship-to-opc' %}">Proprietorship to OPC</a></li>
<li><a href="{% url 'partnership-to-llp' %}">Partnership to LLP</a></li>
<li><a href="{% url 'partnership-to-private-limited-company' %}">Partnership to Private Limited Company</a></li>
<li><a href="{% url 'llp-to-private-limited-company' %}">LLP to Private Limited Company</a></li>
<li><a href="{% url 'opc-to-private-limited-company' %}">OPC to Private Limited Company</a></li>
<li><a href="{% url 'private-limited-company-to-llp' %}">Private Limited Company to LLP</a></li>
<li><a href="{% url 'conversion-private-company-public-company' %}">Private Company to Public Company</a></li>
				            </ul>
			            </div>
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
 <li><h4>Update Corporate Information</h4></li>
<li><a href="{% url 'add-or-remove-a-director-company' %}">Add or Remove a Director (Company)</a></li>
<li><a href="{% url 'add-or-remove-a-partner-llp' %}">Add or Remove a Partner (LLP)</a></li>
<li><a href="{% url 'change-business-activity' %}">Change Business Activity</a></li>
<li><a href="{% url 'change-registered-office' %}">Change Registered Office</a></li>
<li><a href="{% url 'change-company-name' %}">Change Company Name</a></li>
<li><a href="{% url 'change-llp-agreement' %}">Change LLP Agreement</a></li>
<li><a href="{% url 'change-partnership-deed' %}">Change Partnership Deed</a></li>
<li><a href="{% url 'increase-authorised-share-capital' %}">Increase Authorised Share Capital</a></li>
				            </ul>
			            </div>
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
					           <li><h4>Close a Business</h4></li>
<li><a href="{% url 'close-a-private-limited-company' %}">Close a Private Limited Company</a></li>
<li><a href="{% url 'close-a-limited-liability-partnership' %}">Close a Limited Liability Partnership</a></li>
<li><a href="{% url 'close-a-one-person-company' %}">Close a One Person Company</a></li>
<li><a href="{% url 'dissolve-a-parnership-farm' %}">Dissolve a Parnership Farm</a></li>
				            </ul>
			            </div>
		            </div>
	            </ul>
	        </li>
                            
                             
        
                               
                                                      
                                                                                                    
    <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registration and Licenses<b class="caret"></b></a>
	            <ul class="dropdown-menu multi-column columns-3">
		            <div class="row">
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
				            
 <li><h4>Government Registration</h4></li>		            
<li><a href="{% url 'gst-registration' %}">GST Registration</a></li>
<li><a href="{% url 'import-export-license-india-guide' %}">Import Export Code Registration</a></li>
<li><a href="{% url 'startup-registration-process-benefits-eligibility-guide' %}">Startup India Registration</a></li>
<li><a href="{% url 'lut-under-gst' %}">LUT under GST</a></li>
<li><a href="
  {% url 'ssi-msme-registration' %}
        
   
   ">SSI - MSME Registration</a></li>
<li><a href="{% url 'shop-establishment-registration' %}">Shop & Establishment Registration</a></li>
<li><a href="{% url 'professional-tax-registration' %}">Professional Tax Registration</a></li>
<li><a href="{% url 'pan-application' %}">PAN Application</a></li>
<li><a href="{% url 'tan-application' %}">TAN Application</a></li>
<li><a href="{% url 'fssai-application' %}">FSSAI Application</a></li>
<li><a href="{% url 'msme-registration' %}">MSME Registration</a></li>
<li><a href="{% url 'esi-registration' %}">ESI Registration</a></li>
<li><a href="{% url 'pf-registration' %}">PF Registration</a></li>
<li><a href="{% url 'gem-registration' %}">GEM Registration</a></li>
<li><a href="{% url 'nsic-registration' %}">NSIC Registration</a></li>
				            </ul>
			            </div>			                
			             <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
				            
 <li><h4>Licenses</h4></li>		            
<li><a href="{% url 'factory-license' %}">Factory License</a></li>
<li><a href="{% url 'trade-license' %}">Trade License</a></li>
<li><a href="{% url 'drug-license' %}">Drug License</a></li>
<li><a href="{% url 'liquor-license' %}">Liquor License</a></li>
<li><a href="{% url 'labour-license' %}">Labour License</a></li>
<li><a href="{% url 'ayush-license' %}">Ayush License</a></li>
<li><a href="{% url 'iso-certification' %}">ISO Certification</a></li>
<li><a href="{% url 'arai-certification' %}">ARAI Certification</a></li>
<li><a href="{% url 'i-cat-certification' %}">I-CAT Certification</a></li>

			            
				            </ul>
			            </div>
			            
			            
			            
 <div class="col-sm-4">
 <ul class="multi-column-dropdown">				            
 <li><h4>Apply for Tenders</h4></li> 
 </ul>
  </div>         
			            
		            </div>
	            </ul>
	        </li>                         
                      
                                      
    <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Compliances<b class="caret"></b></a>
	            <ul class="dropdown-menu multi-column columns-3">
		            <div class="row">
			            <div class="col-sm-12">
				            <ul class="multi-column-dropdown">
<li><h4>Under Compliances</h4></li>		
<li><a href="{% url 'dir3-din-kyc-filling' %}">DIR3 DIN KYC Filling</a></li>
<li><a href="{% url 'roc-return-filling-for-pvt-ltd' %}">ROC Return Filling for Pvt. Ltd.</a></li>
<li><a href="{% url 'roc-return-filling-for-opc' %}">ROC Return Filling for OPC</a></li>
<li><a href="{% url 'roc-return-filling-for-llp' %}">ROC Return Filling for LLP</a></li>
				            </ul>
			            </div>
			             
			             
		            </div>
	            </ul>
	        </li>                            
     
  <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tax Return Filings<b class="caret"></b></a>
	            <ul class="dropdown-menu multi-column columns-3">
		            <div class="row">
			            <div class="col-sm-12">
				            <ul class="multi-column-dropdown">
<li><h4>Tax Return Filings</h4></li>		
<li><a href="{% url 'personal-or-individual-income-tax-filing' %}">Personal or Individual Income Tax Filing</a></li>
<li><a href="{% url 'business-income-tax-filing' %}">Business Income tax Filing</a></li>
<li><a href="{% url 'company-income-tax-filing' %}">Company Income tax Filing</a></li>
<li><a href="{% url 'tds-filing' %}">TDS Filing</a></li>
<li><a href="{% url 'gst-return-filing' %}">GST Return Filing</a></li>

				            </ul>
			            </div>
			             
			             
		            </div>
	            </ul>
	        </li>
                      
                                         
<li><a href="{% url 'video' %}">Videos</a></li>                                                       
 <li><a href="{% url 'contact' %}"> Contact</a></li>                                                                                
                                         
        
                     
                    </ul>
                </div>
              </nav>
          </div> 
        </div> 

          

          
    </div>
 

  </div> 
</header> 

<div class="banner-carousel banner-carousel-1 mb-0">
  <div class="banner-carousel-item" style="background-image:url(static/images/slider-main/bg1.jpg)" title="" alt="NG-Associates"> 
    <div class="slider-content">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12 text-center">
                <h2 class="slide-title" data-animation-in="slideInLeft">REGISTER YOUR COMPANY</h2>
                <h3 class="slide-sub-title" data-animation-in="slideInRight">INCORPORATE YOUR COMPANY WITHIN 10 DAYS</h3>
                <p data-animation-in="slideInLeft" data-duration-in="1.2">
                    <!--<a href="services' %}" class="slider btn btn-primary">Our Services</a>
                    <a href="contact.html" class="slider btn btn-primary border">Contact Now</a>-->
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url(/static/images/slider-main/bg2.jpg)" title="" alt="NG-Associates">
    <div class="slider-content">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12 text-center">
                <h2 class="slide-title" data-animation-in="slideInLeft">PROTECT YOUR BRAND</h2>
                <h3 class="slide-sub-title" data-animation-in="slideInRight">GET YOUR TRADEMARK PROTECTED IN INDIA AND INTERNATIONALLY</h3>
                <p data-animation-in="slideInLeft" data-duration-in="1.2">
                   <!-- <a href="services.html" class="slider btn btn-primary">Our Services</a>
                    <a href="contact.html" class="slider btn btn-primary border">Contact Now</a>-->
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url(static/images/slider-main/bg3.jpg)" title="" alt="NG-Associates">
    <div class="slider-content">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12 text-center">
                <h2 class="slide-title" data-animation-in="slideInLeft">GOODS AND SERVICE TAX REGISTRATION</h2>
                <h3 class="slide-sub-title" data-animation-in="slideInRight">GET YOUR GST REGISTRATION WITHIN A WEEK</h3>
                <p data-animation-in="slideInLeft" data-duration-in="1.2">
                   <!-- <a href="services.html" class="slider btn btn-primary">Our Services</a>
                    <a href="contact.html" class="slider btn btn-primary border">Contact Now</a>-->
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>



<section class="call-to-action-box no-padding">
  <div class="container">
    <div class="action-style-box">
        <div class="row align-items-center">
          <div class="col-md-8 text-center text-md-left">
              <div class="call-to-action-text">
                <h3 class="action-title">PROFESSIONALISM * QUALITY * RESPONSIVENESS</h3>
              </div>
          </div>
			
          <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
              <div class="call-to-action-btn">
                <a class="btn btn-dark" href="#">Request Quote</a>
              </div>
          </div> 
        </div> 
    </div> 
  </div> 
</section> 

<section id="ts-features" class="ts-features">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
          <div class="ts-intro">
              <h1 class="into-title">About Us</h1>
              <h3 class="into-sub-title">NG & Associates</h3>
              <p>We are a firm of Company Secretaries and attorneys entrusted with a wide variety of legal and compliance related work. Our Primary role as a CS is to have  high level responsibilities with various governance structures and mechanisms, to have a good corporate conduct within an organisation's regulatory environment, board, shareholder and trustee meetings, various compliance with legal, regulatory and listing requirements while our firm is engaged in other services which includes Books of Account of a Company, Filling of Taxes, Auditing of Tax Returns, Availing of Business Licenses, Safeguarding Intellectual Property and advising the business owners about the legal and financial technicalities of their business, while ensuring that the business complies with all statutory regulations and works smoothly.</p>
              <p>Apart from the above, our firm specializes in providing a wide variety of legal services that helps all our clients in running a statutory complied, legally sound and a hassle-free business.</p>
              <p>If you’re thinking of starting your own business whether as Sole Proprietor or a Partner or any other business entity NG & Associates is a one stop solution for all your legal troubles.</p>
              
              <p>“Your Business Our Responsibility.”</p>
              <p><strong>- CS Neha Gupta</strong></p>
          </div> 

          <div class="gap-20"></div>

        <!-- <div class="text-center text-md-left mt-8 mt-md-0">
              <div class="call-to-action-btn">
                <a class="btn btn-dark" href="about.html">View More</a>
              </div>
          </div>-->
         
  
        </div> 

        <div class="col-lg-6 mt-4 mt-lg-0">
        <img src="{% static 'images/left-img.jpg' %}" width="100%" height="auto" title="" alt="NG-Associates"/> </div> 
    </div> 
  </div> 
</section> 

 

<section id="ts-service-area" class="ts-service-area pb-0 solid-bg">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
          <h2 class="section-title">We Are Specialists In</h2>
          <h3 class="section-sub-title">What We Do</h3>
        </div>
    </div>
   

    <div class="row">
        <div class="col-lg-4">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static 'images/icon1.png' %}" alt="service-icon" title="" >
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="{% url 'private-limited-company-registration' %}">COMPANY FORMATION</a></h3>
                <p>Company formation is the term for the process of incorporation of a business . It is also sometimes referred to as company registration. These terms are also used when incorporating a business in India and other countries.</p>
              </div>
          </div> 
          </div> 
          <div class="col-lg-4">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static 'images/icon2.png' %}" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="{% url 'proprietorship-to-partnership' %}">INTELLECTUAL PROPERTY RIGHTS</a></h3>
                <p>Intellectual property rights include patents, copyright, industrial design rights, trademarks, plant variety rights, trade dress, geographical indications, and in some jurisdictions trade secrets.</p>
              </div>
          </div> 
          </div> 
          
          
          <div class="col-lg-4">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static 'images/icon3.png' %}"  alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="{% url 'gst-registration' %}">GST REGISTRATION</a></h3>
                <p>The process by which a taxpayer gets registered under Goods and Service Tax (GST) is GST registration. Once the registration process has been completed, the Goods and Service Tax Identification Number (GSTIN) is provided.</p>
              </div>
          </div> 

        </div> 

       
         <div class="col-lg-4">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static 'images/icon4.png' %}" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="{% url 'conversion-private-company-public-company' %}">BUSINESS LICENSES</a></h3>
                <p>There are many types of Business Licenses and registrations which are necessary to operate any business in India. They are issued by various Government departments depending upon the line of business OR the product or services of the Businesses.</p>
              </div>
          </div> 
          </div> 
          
          <div class="col-lg-4">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static 'images/icon5.png' %}" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="{% url 'iso-certification' %}">ISO CERTIFICATION</a></h3>
                <p>ISO full form is International Standard Organisation. Such Certification can be a useful tool to add credibility, by demonstrating that your product or service meets the expectations of your customers and certifies that the companies are developing the product or services of good Quality Standard </p>
              </div>
          </div> 
          </div> 
          
          
          <div class="col-lg-4">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static 'images/icon6.png' %}" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="{% url 'personal-or-individual-income-tax-filing' %}">INCOME TAX RETURNS</a></h3>
                <p>As per the income tax laws, the return must be filed every year by an individual or business that earns any income during a financial year. The income could be in the form of a salary, business profits, income from house property or earned through dividends, capital gains, interests or other sources.</p>
              </div>
          </div> 
        </div> 
    </div> 

  </div>
 
</section> 

 

<section class="content">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <h3 class="column-title">Testimonials</h3>

          <div id="testimonial-slide" class="testimonial-slide">
              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">
                      Their responses are very quick and helpful, with reasonable prices to offer for services you need. Great working with the team! Would recommend to friends for sure.
                    </span>

                    <div class="quote-item-footer">
                      <img loading="lazy" class="testimonial-thumb" src="{% static 'images/left-img.jpg' %}" alt="testimonial">
                      <div class="quote-item-info">
                          <h3 class="quote-author">Kritika Mehra</h3>
                          <span class="quote-subtext">Chairman, OKT</span>
                      </div>
                    </div>
                </div> 
              </div>
            

              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">
                      I can say ITS ONE POINT SOLUTION. Completely professional way of working with transparency. Keep it up and we’ll done !
                    </span>

                    <div class="quote-item-footer">
                      <img loading="lazy" class="testimonial-thumb" src="{% static 'images/left-img.jpg' %}" alt="testimonial">
                      <div class="quote-item-info">
                          <h3 class="quote-author">Rajeev Singh</h3>
                          <span class="quote-subtext">CFO, First Choice</span>
                      </div>
                    </div>
                </div> 
              </div>
             

              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">
                      Very efficient , quick and genuine service ... fully satisfied .... 👍👍
                    </span>

                    <div class="quote-item-footer">
                      <img loading="lazy" class="testimonial-thumb" src="{% static 'images/left-img.jpg' %}" alt="testimonial">
                      <div class="quote-item-info">
                          <h3 class="quote-author">Meenakshi Roy</h3>
                          <span class="quote-subtext">Director, AKT</span>
                      </div>
                    </div>
                </div> 
              </div>
               

          </div>
          
        </div> 

          

    </div>
    
  </div>
  
</section> 

<section class="subscribe no-padding">
  <div class="container">
    <div class="row">
        <div class="col-lg-4">
          <div class="subscribe-call-to-acton">
              <h3>Can We Help?</h3>
              <h4>+91-78400 71184</h4>
          </div>
        </div> 

        <div class="col-lg-8">
          <div class="ts-newsletter row align-items-center">
              <div class="col-md-5 newsletter-introtext">
                <h4 class="text-white mb-0">Newsletter Sign-up</h4>
                <p class="text-white">Latest updates and news</p>
              </div>

              <div class="col-md-7 newsletter-form">
                <form action="#" method="post">
                    <div class="form-group">
                      <label for="newsletter-email" class="content-hidden">Newsletter Email</label>
                      <input type="email" name="email" id="newsletter-email" class="form-control form-control-lg" placeholder="Your your email and hit enter" autocomplete="off" style="background: #fff;">
                    </div>
                </form>
              </div>
          </div> 
        </div> 

    </div> 
  </div>
  
</section>
 

<section id="news" class="news">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
          <h2 class="section-title">Work of Excellence</h2>
          <h3 class="section-sub-title">Blogs</h3>
        </div>
    </div>
    

    <div class="row">
       
       	<div class="col-12 col-carousel">
			<div class="owl-carousel carousel-main">
        <div class="col-lg-12">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="{% url 'incorporation-of-company' %}" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="{% static 'images/news/news1.jpg' %}" title="" alt="NG-Associates">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                   <h4>Incorporation of Company</h4>
                    <a href="{% url 'incorporation-of-company' %}" class="d-inline-block">Incorporation of corporate refers to the legal method by which a company came into existence. It is alegal entity that separates the firm asset from its owners and investors. It is the way in which business is formally organized and brought into existence. </a>
                </h4>
                
              </div>
          </div> 
        </div> 

        <div class="col-lg-12">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="{% url 'trademark-blog' %}" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="{% static 'images/news/news2.jpg' %}" title="" alt="NG-Associates">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                   <h4>Trademark</h4>
                    <a href="{% url 'trademark-blog' %}" class="d-inline-block">Trademark is a branch of intellectual property rights which permit people to maintain ownership rights of their innovative products and creative activity. A trademark includes a name, word or sign that differentiate our product from those of others.</a>
                </h4>
                
              </div>
          </div> 
        </div> 

        <div class="col-lg-12">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="{% url 'gst-blog' %}" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="{% static 'images/news/news3.jpg' %}" title="" alt="NG-Associates">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                   <h4>GST</h4>
                    <a href="{% url 'gst-blog' %}" class="d-inline-block">Registration of any business entity under the GST Law implies obtaining a unique number from the concerned tax authorities for the purpose of collecting tax on behalf of the government and to avail Input tax credit for the taxes on his inward supplies. GST Registration is a process by which a taxpayer gets himself registered under GST.</a>
                </h4>
                
              </div>
          </div> 
        </div> 
        
        <div class="col-lg-12">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="{% url 'right-issue' %}" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="{% static 'images/news/news3.jpg' %}" title="" alt="NG-Associates">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                   <h4>Right Issue</h4>
                    <a href="{% url 'right-issue' %}" class="d-inline-block">A right issue, also known as a rights offering, refers to the process through which a company offers its existing shareholders the right to purchase additional shares of the company's stock. This offering is made at a predetermined price and within a specific time period,</a>
                </h4>
                
              </div>
          </div> 
        </div>
        
        
        <div class="col-lg-12">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="{% url 'bonus-issue-guide-corporate-actions' %}" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="{% static 'images/news/news3.jpg' %}" title="" alt="NG-Associates">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                   <h4>Bonus Issue</h4>
                    <a href="{% url 'bonus-issue-guide-corporate-actions' %}" class="d-inline-block">A bonus issue, also referred to as a bonus share or a capitalization issue, is a corporate action taken by a company to issue additional shares to its existing shareholders at no cost. It is a way for companies to reward their shareholders and capitalize on their accumulated profits or reserves.</a>
                </h4>
                
              </div>
          </div> 
        </div>
    </div>
    </div>
    </div>
     

    <!--<div class="general-btn text-center mt-4">
        <a class="btn btn-primary" href="#">See All Posts</a>
    </div>-->

  </div>
  
</section>


<footer id="footer" class="footer bg-overlay">
    <div class="footer-main">
      <div class="container"> <h3 class="widget-title">Quick Link</h3>
        <div class="row justify-content-between">
        
          <div class="col-lg-3 col-md-6 footer-widget footer-about">
            
            <ul class="list-arrow">
            
<li><a href="https://www.icai.org/" target="_blank">ICAI</a></li>
<li><a href="https://icsi.edu/home/">ICSI</a></li>
<li><a href="https://icmai.in/icmai/index.php">CMA</a></li> 
 </ul>
             
          </div> 

          <div class="col-lg-3 col-md-6 footer-widget mt-5 mt-md-0">
             <ul class="list-arrow">
            
<li><a href="https://ipindia.gov.in/">IPR</a></li>
<li><a href="https://www.gst.gov.in/">GST</a></li>
<li><a href="https://incometaxindia.gov.in/Pages/default.aspx">Income Tax</a></li> 
 </ul>
          </div> 

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget"> 
            <ul class="list-arrow">
    <li><a href="https://www.dgft.gov.in/CP/">DGFT</a></li>
    <li><a href="https://fssai.gov.in/">FSSAI</a></li>
    <li><a href="https://www.mca.gov.in/content/mca/global/en/home.html">MCA</a></li> 
				
            </ul>
          </div> 
          
 
			
 <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget"> 
            <ul class="list-arrow">
    <li><a href="https://www.nseindia.com/">NSE</a></li>
    <li><a href="https://www.bseindia.com/">BSE</a></li>
    <li><a href="https://www.sebi.gov.in/">SEBI</a></li> 
				
            </ul>
          </div> 
         
         
          
        </div> 
      </div> 
    </div> 

    <div class="copyright">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="copyright-info">
               With Love. <i class="fa fa-heart text-danger" style="margin: 0px 5px;"></i>  by NG-Associates
            </div>
          </div>

           
        </div> 

        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
          <button class="btn btn-primary" title="Back to Top">
            <i class="fa fa-angle-double-up"></i>
          </button>
        </div>

      </div> 
    </div> 
  </footer>

	
 <div class="whatsapp_float">
 <a href="https://wa.me/919819837385" target="_blank"><img src="{% static 'images/whatsapp.jpg' %}" width="50px" title="" alt="whatsapp" class="whatsapp_float_btn"/></a>
 </div>

	
 
 
 
  <script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script> 
  <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script> 
  <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'plugins/slick/slick-animation.min.js' %}"></script> 
  <script src="{% static 'plugins/colorbox/jquery.colorbox.js' %}"></script> 
  <script src="{% static 'plugins/shuffle/shuffle.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/owl.carousel.min.js"></script>

  
  <script src="{% static 'plugins/google-map/map.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>

  </div> 
  
  <script>
$(document).ready(function(){
  $(".contentdd").slice(0, 1).show();
  $("#loadMore").on("click", function(e){
    e.preventDefault();
    $(".contentdd:hidden").slice(0, 1).slideDown();
    if($(".contentdd:hidden").length == 0) {
      $("#loadMore").text("No Content").addClass("noContent");
    }
  });
  
})
    </script>
  </body>

  </html>